<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Landing</title>
    <link rel="stylesheet" href="../styles/mainPageStyle.css">
    <script src="../scripts/mainPageScript.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="header_box wrapper">
            <div class="header_logo">
                <img src="/src/logo.png" alt="logo"/>
                <p>Personal</p>
            </div>
            <ul class="header_list">
                <li class="header_list_item">About</li>
                <li class="header_list_item">Services</li>
                <li class="header_list_item">Pricing</li>
                <li class="header_list_item">Blog</li>
            </ul>
            <button type="button" class="button">Contact</button>
        </div>
    </header>

    <main class="main">

    </main>

    <footer class="footer">

    </footer>

</body>
</html>