<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Landing</title>
    <link rel="stylesheet" href="../styles/mainPageStyle.css">
    <script src="../scripts/mainPageScript.js" defer></script>
</head>
<body>
<header class="header">
    <div class="header_box wrapper">
        <div class="header_logo">
            <img src="/src/logo.png" alt="logo"/>
            <p>Personal</p>
        </div>
        <ul class="header_list">
            <li class="header_list_item">About</li>
            <li class="header_list_item">Services</li>
            <li class="header_list_item">Pricing</li>
            <li class="header_list_item">Blog</li>
        </ul>
        <button type="button" class="button header_button">Contact</button>
        <img src="/src/menu_button.png" alt="Menu" class="header_menu_button"/>
    </div>
    <section class="title wrapper">
        <div class="title_box">
            <div class="title_text">
                <p class="title_text_item smallOrangeText">Gabriel Pires</p>
                <p class="title_text_item h1 whiteText">The Simple, Clean Design</p>
                <p class="title_text_item smallGreyText">Agency provides a full service range including technical
                    skills, design, business understanding.</p>
                <button type="button" class="buttonOrange">See my work</button>
            </div>
            <img src="/src/title_pic.png" alt="Заголовок страницы" class="title_pic"/>
        </div>
    </section>
</header>

<main class="main">

    <section class="main_help wrapper">
        <p class="smallOrangeText">Service</p>
        <p class="main_help_header">How I can help you with</p>
        <div class="main_help_options">
            <div class="main_help_options_item">
                <div class="main_help_options_item_header">
                    <img src="/src/design_icon.png" alt="Design icon"/>
                    <p>Design</p>
                </div>
                <p class="main_help_options_item_text">
                    Agency is a business you hire to outsource
                    your digital marketing efforts, instead of handling
                    in-house.
                </p>
                <div class="main_help_options_item_action">
                    <div class="buttonAdd">
                        <img src="/src/plus_icon.png" alt="Learn More"/>
                    </div>
                    <p>Learn More</p>
                </div>
            </div>
            <div class="main_help_options_item">
                <div class="main_help_options_item_header">
                    <img src="/src/development_icon.png" alt="Development icon"/>
                    <p>Development</p>
                </div>
                <p class="main_help_options_item_text">
                    Hire to outsource your digital marketing efforts,
                    instead of handling in-house can provide your business.
                </p>
                <div class="main_help_options_item_action">
                    <div class="buttonAdd">
                        <img src="/src/plus_icon.png" alt="Learn More"/>
                    </div>
                    <p>Learn More</p>
                </div>
            </div>
        </div>
        <p class="main_help_footer">Want more service? <a href="#">Explore Now</a></p>
    </section>

    <section class="darkBackground">
        <div class="main_portfolio_header wrapper">
            <p class="smallOrangeText">Portfolio</p>
            <div class="main_portfolio_header_subtitle">
                <p class="h2 whiteText">Latest Work</p>
                <button class="button">Explore more</button>
            </div>
        </div>
        <div class="main_portfolio_gallery">
            <div class="main_portfolio_gallery_item">
                <img src="/src/sofa.png" alt="SOFA">
                <button class="main_portfolio_gallery_item_button">Design</button>
                <p class="main_portfolio_gallery_item_text">SOFA</p>
            </div>
            <div class="main_portfolio_gallery_item">
                <img src="/src/KeyBoard.png" alt="KeyBoard">
                <button class="main_portfolio_gallery_item_button">Branding</button>
                <p class="main_portfolio_gallery_item_text">KeyBoard</p>
            </div>
            <div class="main_portfolio_gallery_item">
                <img src="/src/Work%20Media.png" alt="Work Media">
                <button class="main_portfolio_gallery_item_button">Illustration</button>
                <p class="main_portfolio_gallery_item_text">Work Media</p>
            </div>
        </div>
    </section>

</main>

<footer class="footer">

</footer>

</body>
</html>