$textDark: #391400;
$textDarkAccent: #EF6D58;
$textDarkGray: rgba(57, 20, 0, 0.64);
$textLight: #FFFFFF;
$textLightAccent: #EF6D58;
$textLightGray: rgba(255, 255, 255, 0.64);

$darkBgColor: #28293E;
$lightBgColor: #FDF0E9;
$lightGrayBgColor: #F9E5DA;

$borderOnLightBg: #F3D1BF;
$borderOnDarkBg: #3A3C56;

$shadow: rgba(57, 20, 0, 0.08);

$buttonGrayStroke: rgba(255, 255, 255, 0.3);
$buttonOrange: #EF6D58;
$buttonLight: #FFFFFF;

$chipLight: #FFFFFF;