@import "text";
@import "colors";
@import "wrapper";
@import "buttons";

.header {
  background-color: $darkBgColor;
  @extend .section;

  &_container {
    padding: 16px 0;
    @extend .wrapper;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    @extend .h4;
    color: $textLight;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
  }

  &_menu {
    @extend .text;
    color: $textLight;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    max-width: 520px;
  }

  &_contactButton {
    @extend .buttonSecondaryTextDark;
  }
}