@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
.h1, .title_textBox_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.h2, .ourBlog_header_textBox_title, .testimonials_title, .features_textBox_title, .about_main_textBox_title, .portfolio_header_title, .service_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.h3, .ourBlog_content_mainPost_header, .faq_main_textBox_title, .about_card_textBox_title, .portfolio_card_title {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
}

.h4, .ourBlog_footer_textBox_header, .ourBlog_content_post_header, .faq_main_list_item_active_title_text, .faq_main_list_item_title_text, .testimonials_card_profile_text_name, .getStarted_textBox_title, .service_card_header_text, .header_logo {
  font-family: "Epilogue", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.h5, .ourBlog_header_textBox_label, .faq_main_textBox_label, .testimonials_label, .getStarted_textBox_label, .features_textBox_label, .about_main_textBox_label, .portfolio_label, .service_label, .title_textBox_label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.label {
  font-family: "Epilogue", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}

.textBig, .ourBlog_content_mainPost_theme, .ourBlog_content_post_theme, .features_textBox_subtitle, .about_card_textBox_description, .about_main_textBox_subtitle {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.text, .ourBlog_footer_textBox_description, .ourBlog_content_mainPost_date, .ourBlog_content_post_date, .faq_main_list_item_active_content, .faq_main_list_item_content, .faq_main_textBox_contact, .faq_main_textBox_description, .testimonials_card_profile_text_company, .testimonials_card_text, .getStarted_description, .features_textBox_list li, .about_main_textBox_description, .portfolio_card_chip, .service_footer_text, .service_card_description, .title_textBox_description, .fieldLight, .ourBlog_footer_emailForm_input, .header_menu, .buttonSecondaryIconLight + label, .service_card_footer_button + label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
}

.textSmall {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.buttonText, .buttonPrimaryTextLight, .getStarted_textBox_button, .title_textBox_button, .buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton, .buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button {
  font-family: "Epilogue", serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.wrapper, .ourBlog_container, .faq_container, .testimonials_container, .getStarted_container, .features_container, .about_container, .portfolio_container, .service_container, .title_container, .header_container {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .wrapper, .ourBlog_container, .faq_container, .testimonials_container, .getStarted_container, .features_container, .about_container, .portfolio_container, .service_container, .title_container, .header_container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
}

.section, .ourBlog, .faq, .testimonials, .getStarted, .features, .about, .portfolio, .service, .title, .header {
  width: 100%;
  margin: 0 auto;
}

.h1, .title_textBox_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.h2, .ourBlog_header_textBox_title, .testimonials_title, .features_textBox_title, .about_main_textBox_title, .portfolio_header_title, .service_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.h3, .ourBlog_content_mainPost_header, .faq_main_textBox_title, .about_card_textBox_title, .portfolio_card_title {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
}

.h4, .ourBlog_footer_textBox_header, .ourBlog_content_post_header, .faq_main_list_item_active_title_text, .faq_main_list_item_title_text, .testimonials_card_profile_text_name, .getStarted_textBox_title, .service_card_header_text, .header_logo {
  font-family: "Epilogue", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.h5, .ourBlog_header_textBox_label, .faq_main_textBox_label, .testimonials_label, .getStarted_textBox_label, .features_textBox_label, .about_main_textBox_label, .portfolio_label, .service_label, .title_textBox_label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.label {
  font-family: "Epilogue", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}

.textBig, .ourBlog_content_mainPost_theme, .ourBlog_content_post_theme, .features_textBox_subtitle, .about_card_textBox_description, .about_main_textBox_subtitle {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.text, .ourBlog_footer_textBox_description, .ourBlog_content_mainPost_date, .ourBlog_content_post_date, .faq_main_list_item_active_content, .faq_main_list_item_content, .faq_main_textBox_contact, .faq_main_textBox_description, .testimonials_card_profile_text_company, .testimonials_card_text, .getStarted_description, .features_textBox_list li, .about_main_textBox_description, .portfolio_card_chip, .service_footer_text, .service_card_description, .title_textBox_description, .fieldLight, .ourBlog_footer_emailForm_input, .header_menu, .buttonSecondaryIconLight + label, .service_card_footer_button + label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
}

.textSmall {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.buttonText, .buttonPrimaryTextLight, .getStarted_textBox_button, .title_textBox_button, .buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton, .buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button {
  font-family: "Epilogue", serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.buttonPrimaryTextLight, .getStarted_textBox_button, .title_textBox_button, .buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton, .buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button {
  height: 48px;
  color: #FFFFFF;
  padding: 17px 36px 15px 36px;
  border: none;
  background-color: #EF6D58;
  border-radius: 6px;
  box-sizing: border-box;
  transition: box-shadow 150ms ease-in-out;
}
.buttonPrimaryTextLight:hover, .getStarted_textBox_button:hover, .title_textBox_button:hover, .buttonSecondaryTextDark:hover, .portfolio_header_button:hover, .header_contactButton:hover, .buttonSecondaryTextLight:hover, .ourBlog_footer_emailForm_button:hover, .ourBlog_header_button:hover, .testimonials_button:hover, .about_main_textBox_button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.3);
}

.buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button {
  background-color: #FFFFFF;
  color: #391400;
  box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
}
.buttonSecondaryTextLight:hover, .ourBlog_footer_emailForm_button:hover, .ourBlog_header_button:hover, .testimonials_button:hover, .about_main_textBox_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(57, 20, 0, 0.08);
}

.buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.buttonSecondaryIconLight, .service_card_footer_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
  cursor: pointer;
}
.buttonSecondaryIconLight + label, .service_card_footer_button + label {
  color: #391400;
  margin-left: 16px;
  cursor: pointer;
}

.h1, .title_textBox_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.h2, .ourBlog_header_textBox_title, .testimonials_title, .features_textBox_title, .about_main_textBox_title, .portfolio_header_title, .service_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.h3, .ourBlog_content_mainPost_header, .faq_main_textBox_title, .about_card_textBox_title, .portfolio_card_title {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
}

.h4, .ourBlog_footer_textBox_header, .ourBlog_content_post_header, .faq_main_list_item_active_title_text, .faq_main_list_item_title_text, .testimonials_card_profile_text_name, .getStarted_textBox_title, .service_card_header_text, .header_logo {
  font-family: "Epilogue", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.h5, .ourBlog_header_textBox_label, .faq_main_textBox_label, .testimonials_label, .getStarted_textBox_label, .features_textBox_label, .about_main_textBox_label, .portfolio_label, .service_label, .title_textBox_label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.label {
  font-family: "Epilogue", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}

.textBig, .ourBlog_content_mainPost_theme, .ourBlog_content_post_theme, .features_textBox_subtitle, .about_card_textBox_description, .about_main_textBox_subtitle {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.text, .ourBlog_footer_textBox_description, .ourBlog_content_mainPost_date, .ourBlog_content_post_date, .faq_main_list_item_active_content, .faq_main_list_item_content, .faq_main_textBox_contact, .faq_main_textBox_description, .testimonials_card_profile_text_company, .testimonials_card_text, .getStarted_description, .features_textBox_list li, .about_main_textBox_description, .portfolio_card_chip, .service_footer_text, .service_card_description, .title_textBox_description, .fieldLight, .ourBlog_footer_emailForm_input, .header_menu, .buttonSecondaryIconLight + label, .service_card_footer_button + label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
}

.textSmall {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.buttonText, .buttonPrimaryTextLight, .getStarted_textBox_button, .title_textBox_button, .buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button, .buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton {
  font-family: "Epilogue", serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.wrapper, .ourBlog_container, .faq_container, .testimonials_container, .getStarted_container, .features_container, .about_container, .portfolio_container, .service_container, .title_container, .header_container {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .wrapper, .ourBlog_container, .faq_container, .testimonials_container, .getStarted_container, .features_container, .about_container, .portfolio_container, .service_container, .title_container, .header_container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
}

.section, .ourBlog, .faq, .testimonials, .getStarted, .features, .about, .portfolio, .service, .title, .header {
  width: 100%;
  margin: 0 auto;
}

.h1, .title_textBox_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.h2, .ourBlog_header_textBox_title, .testimonials_title, .features_textBox_title, .about_main_textBox_title, .portfolio_header_title, .service_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.h3, .ourBlog_content_mainPost_header, .faq_main_textBox_title, .about_card_textBox_title, .portfolio_card_title {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
}

.h4, .ourBlog_footer_textBox_header, .ourBlog_content_post_header, .faq_main_list_item_active_title_text, .faq_main_list_item_title_text, .testimonials_card_profile_text_name, .getStarted_textBox_title, .service_card_header_text, .header_logo {
  font-family: "Epilogue", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.h5, .ourBlog_header_textBox_label, .faq_main_textBox_label, .testimonials_label, .getStarted_textBox_label, .features_textBox_label, .about_main_textBox_label, .portfolio_label, .service_label, .title_textBox_label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.label {
  font-family: "Epilogue", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}

.textBig, .ourBlog_content_mainPost_theme, .ourBlog_content_post_theme, .features_textBox_subtitle, .about_card_textBox_description, .about_main_textBox_subtitle {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.text, .ourBlog_footer_textBox_description, .ourBlog_content_mainPost_date, .ourBlog_content_post_date, .faq_main_list_item_active_content, .faq_main_list_item_content, .faq_main_textBox_contact, .faq_main_textBox_description, .testimonials_card_profile_text_company, .testimonials_card_text, .getStarted_description, .features_textBox_list li, .about_main_textBox_description, .portfolio_card_chip, .service_footer_text, .service_card_description, .title_textBox_description, .fieldLight, .ourBlog_footer_emailForm_input, .header_menu, .buttonSecondaryIconLight + label, .service_card_footer_button + label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
}

.textSmall {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.buttonText, .buttonPrimaryTextLight, .getStarted_textBox_button, .title_textBox_button, .buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button, .buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton {
  font-family: "Epilogue", serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.buttonPrimaryTextLight, .getStarted_textBox_button, .title_textBox_button, .buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button, .buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton {
  height: 48px;
  color: #FFFFFF;
  padding: 17px 36px 15px 36px;
  border: none;
  background-color: #EF6D58;
  border-radius: 6px;
  box-sizing: border-box;
  transition: box-shadow 150ms ease-in-out;
}
.buttonPrimaryTextLight:hover, .getStarted_textBox_button:hover, .title_textBox_button:hover, .buttonSecondaryTextLight:hover, .ourBlog_footer_emailForm_button:hover, .ourBlog_header_button:hover, .testimonials_button:hover, .about_main_textBox_button:hover, .buttonSecondaryTextDark:hover, .portfolio_header_button:hover, .header_contactButton:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.3);
}

.buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button {
  background-color: #FFFFFF;
  color: #391400;
  box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
}
.buttonSecondaryTextLight:hover, .ourBlog_footer_emailForm_button:hover, .ourBlog_header_button:hover, .testimonials_button:hover, .about_main_textBox_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(57, 20, 0, 0.08);
}

.buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.buttonSecondaryIconLight, .service_card_footer_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
  cursor: pointer;
}
.buttonSecondaryIconLight + label, .service_card_footer_button + label {
  color: #391400;
  margin-left: 16px;
  cursor: pointer;
}

.header {
  background-color: #28293E;
}
.header_container {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  color: #FFFFFF;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}
.header_menu {
  color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
}
.h1, .title_textBox_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.h2, .ourBlog_header_textBox_title, .testimonials_title, .features_textBox_title, .about_main_textBox_title, .portfolio_header_title, .service_header {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.h3, .ourBlog_content_mainPost_header, .faq_main_textBox_title, .about_card_textBox_title, .portfolio_card_title {
  font-family: "Epilogue", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
}

.h4, .ourBlog_footer_textBox_header, .ourBlog_content_post_header, .faq_main_list_item_active_title_text, .faq_main_list_item_title_text, .testimonials_card_profile_text_name, .getStarted_textBox_title, .service_card_header_text, .header_logo {
  font-family: "Epilogue", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.h5, .ourBlog_header_textBox_label, .faq_main_textBox_label, .testimonials_label, .getStarted_textBox_label, .features_textBox_label, .about_main_textBox_label, .portfolio_label, .service_label, .title_textBox_label {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.label {
  font-family: "Epilogue", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}

.textBig, .ourBlog_content_mainPost_theme, .ourBlog_content_post_theme, .features_textBox_subtitle, .about_card_textBox_description, .about_main_textBox_subtitle {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.text, .ourBlog_footer_textBox_description, .ourBlog_content_mainPost_date, .ourBlog_content_post_date, .faq_main_list_item_active_content, .faq_main_list_item_content, .faq_main_textBox_contact, .faq_main_textBox_description, .testimonials_card_profile_text_company, .testimonials_card_text, .getStarted_description, .features_textBox_list li, .about_main_textBox_description, .portfolio_card_chip, .service_footer_text, .service_card_description, .title_textBox_description, .fieldLight, .ourBlog_footer_emailForm_input, .buttonSecondaryIconLight + label, .service_card_footer_button + label, .header_menu {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
}

.textSmall {
  font-family: "Epilogue", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.buttonText, .buttonPrimaryTextLight, .getStarted_textBox_button, .title_textBox_button, .buttonSecondaryTextLight, .ourBlog_footer_emailForm_button, .ourBlog_header_button, .testimonials_button, .about_main_textBox_button, .buttonSecondaryTextDark, .portfolio_header_button, .header_contactButton {
  font-family: "Epilogue", serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.fieldLight, .ourBlog_footer_emailForm_input {
  box-sizing: border-box;
  height: 48px;
  padding: 9px 16px 7px 16px;
  background-color: white;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
  color: rgba(57, 20, 0, 0.64);
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  background-color: #28293E;
}
.title_container {
  display: flex;
  flex-direction: row;
  gap: 140px;
  padding: 100px 0 140px 0;
}
.title_textBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: start;
}
.title_textBox_label {
  color: #EF6D58;
}
.title_textBox_header {
  color: #FFFFFF;
}
.title_textBox_description {
  color: rgba(255, 255, 255, 0.64);
}
.title_textBox_button {
  margin-top: 8px;
}

.service {
  background-color: #FDF0E9;
}
.service_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 100px 0;
  gap: 64px;
}
.service_label {
  color: #EF6D58;
}
.service_header {
  color: #391400;
  margin-top: -40px;
  max-width: 425px;
  text-align: center;
}
.service_cards-container {
  display: flex;
  flex-direction: row;
}
.service_card {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #F3D1BF;
  border-right: none;
  padding: 48px;
  justify-content: center;
  align-items: start;
  gap: 28px;
}
.service_card_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.service_card_header_text {
  color: #391400;
}
.service_card_description {
  color: rgba(57, 20, 0, 0.64);
}
.service_card:last-of-type {
  border: 1px solid #F3D1BF;
}
.service_footer_text {
  color: rgba(57, 20, 0, 0.64);
}
.service_footer_text a {
  color: #391400;
}

.portfolio {
  background-color: #28293E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 100px 0;
}
.portfolio_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 0 64px 0;
  gap: 24px;
}
.portfolio_label {
  color: #EF6D58;
}
.portfolio_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.portfolio_header_title {
  color: #FFFFFF;
}
.portfolio_cards-container {
  display: flex;
  flex-direction: row;
}
.portfolio_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #3A3C56;
  border-right: none;
  padding: 16px;
}
.portfolio_card:last-of-type {
  border: 1px solid #3A3C56;
}
.portfolio_card_image {
  width: 448px;
  height: 576px;
}
.portfolio_card_chip {
  position: absolute;
  top: 430px;
  left: 64px;
  background: #FFFFFF;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 16px 0 16px;
  border-radius: 19px;
  color: #391400;
}
.portfolio_card_title {
  color: #FFFFFF;
  position: absolute;
  top: 500px;
  left: 64px;
}

.about {
  background-color: #FDF0E9;
}
.about_container {
  padding: 200px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 174px;
}
.about_main {
  display: flex;
  flex-direction: row;
  gap: 170px;
}
.about_main_textBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 24px;
}
.about_main_textBox_label {
  color: #EF6D58;
}
.about_main_textBox_title {
  color: #391400;
}
.about_main_textBox_subtitle {
  color: #391400;
}
.about_main_textBox_description {
  color: rgba(57, 20, 0, 0.64);
}
.about_cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.about_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 32px;
  border: 1px solid #F3D1BF;
  border-right: none;
  width: 50%;
}
.about_card:last-child {
  border: 1px solid #F3D1BF;
}
.about_card_image {
  margin: 0 40px 0 16px;
}
.about_card_textBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.about_card_textBox_title {
  color: #391400;
}
.about_card_textBox_description {
  color: #391400;
}

.features {
  background-color: #28293E;
}
.features_container {
  display: flex;
  flex-direction: row;
  padding: 150px 0 150px 0;
}
.features_textBox {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.features_textBox_label {
  color: #EF6D58;
}
.features_textBox_title {
  color: #FFFFFF;
  max-width: 400px;
}
.features_textBox_subtitle {
  color: #FFFFFF;
}
.features_textBox_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features_textBox_list li {
  display: flex;
  height: 36px;
  color: rgba(255, 255, 255, 0.64);
  list-style-type: none;
  vertical-align: middle;
  justify-content: start;
  align-items: center;
}
.features_textBox_list li::before {
  display: inline-flex;
  content: url("../src/check.png");
  height: 36px;
  margin-right: 16px;
  align-items: center;
}

.getStarted {
  background-color: #F9E5DA;
}
.getStarted_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 48px 0 48px 0;
  justify-content: space-between;
}
.getStarted_sticker {
  position: absolute;
  top: -73px;
}
.getStarted_textBox {
  width: 33%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.getStarted_textBox_label {
  color: #EF6D58;
}
.getStarted_textBox_title {
  color: #391400;
  margin-top: -10px;
  max-width: 220px;
}
.getStarted_description {
  color: rgba(57, 20, 0, 0.64);
  max-width: 370px;
}

.testimonials {
  background-color: #FDF0E9;
}
.testimonials_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 90px 0;
  gap: 64px;
}
.testimonials_label {
  color: #EF6D58;
}
.testimonials_title {
  color: #391400;
  margin-top: -44px;
  max-width: 400px;
  text-align: center;
}
.testimonials_cards-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
}
.testimonials_card {
  position: relative;
  z-index: 0;
  width: 33%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid #F3D1BF;
  padding: 48px;
  gap: 64px;
  transform-origin: top center;
  transition: scale 500ms ease-in-out, background-color 200ms ease-in-out, border 0ms linear;
}
.testimonials_card:last-of-type {
  border: 1px solid #F3D1BF;
}
.testimonials_card:hover {
  border: 1px solid #F3D1BF;
  scale: 1.05;
  background-color: white;
  z-index: 1;
}
.testimonials_card_rating {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.testimonials_card_text {
  color: rgba(57, 20, 0, 0.64);
  margin-top: -28px;
}
.testimonials_card_profile {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
}
.testimonials_card_profile_text {
  display: flex;
  flex-direction: column;
}
.testimonials_card_profile_text_name {
  color: #391400;
}
.testimonials_card_profile_text_company {
  color: #391400;
}
.faq {
  background-color: #28293E;
}
.faq_container {
  display: flex;
  flex-direction: column;
  padding: 140px 0 128px 0;
  gap: 120px;
}
.faq_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.faq_main_textBox {
  width: 50%;
  padding-right: 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq_main_textBox_label {
  color: #EF6D58;
}
.faq_main_textBox_title {
  color: #FFFFFF;
  margin-top: -15px;
}
.faq_main_textBox_description {
  color: rgba(255, 255, 255, 0.64);
}
.faq_main_textBox_contact {
  color: #FFFFFF;
}
.faq_main_list {
  width: 50%;
  border: 1px solid #3A3C56;
  border-radius: 6px;
}
.faq_main_list_item {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.faq_main_list_item:first-of-type {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.faq_main_list_item:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.faq_main_list_item:last-of-type::after {
  background-color: transparent;
  height: 0;
}
.faq_main_list_item::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #3A3C56;
}
.faq_main_list_item_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 48px;
}
.faq_main_list_item_title::after {
  content: url("../src/arrow_down.png");
}
.faq_main_list_item_title_text {
  color: #FFFFFF;
}
.faq_main_list_item_content {
  color: rgba(57, 20, 0, 0.64);
  display: none;
}
.faq_main_list_item_active {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.faq_main_list_item_active:first-of-type {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.faq_main_list_item_active:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.faq_main_list_item_active:last-of-type::after {
  background-color: transparent;
  height: 0;
}
.faq_main_list_item_active::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #3A3C56;
}
.faq_main_list_item_active_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 48px;
}
.faq_main_list_item_active_title::after {
  content: url("../src/arrow_up.png");
}
.faq_main_list_item_active_title_text {
  color: #391400;
}
.faq_main_list_item_active_content {
  color: rgba(57, 20, 0, 0.64);
  padding: 0 48px 40px 48px;
  display: block;
}
.faq_companies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ourBlog {
  background-color: #FDF0E9;
}
.ourBlog_container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 90px 0 100px 0;
}
.ourBlog_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.ourBlog_header_textBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ourBlog_header_textBox_label {
  color: #EF6D58;
}
.ourBlog_header_textBox_title {
  color: #391400;
}
.ourBlog_content {
  display: grid;
  grid-column-gap: 130px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "mainPost mainPost ." "mainPost mainPost .";
}
.ourBlog_content_post, .ourBlog_content_mainPost {
  display: flex;
  flex-direction: column;
}
.ourBlog_content_post_theme {
  color: #391400;
  margin-top: 26px;
}
.ourBlog_content_post_header {
  color: #391400;
  margin-top: 15px;
}
.ourBlog_content_post_date {
  color: rgba(57, 20, 0, 0.64);
  margin-top: 15px;
}
.ourBlog_content_mainPost {
  display: flex;
  grid-area: mainPost;
}
.ourBlog_content_mainPost_theme {
  color: #391400;
  margin-top: 26px;
}
.ourBlog_content_mainPost_header {
  margin-top: 31px;
}
.ourBlog_content_mainPost_date {
  color: rgba(57, 20, 0, 0.64);
  margin-top: 12px;
}
.ourBlog_divider {
  height: 1px;
  background-color: #F3D1BF;
}
.ourBlog_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
.ourBlog_footer_textBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ourBlog_footer_textBox_header {
  color: #391400;
}
.ourBlog_footer_textBox_description {
  color: rgba(57, 20, 0, 0.64);
}
.ourBlog_footer_emailForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.ourBlog_footer_emailForm_input {
  min-width: 370px;
}

/*# sourceMappingURL=indexStyles.css.map */
