@import "shared/text";
@import "shared/colors";
@import "shared/wrapper";
@import "shared/buttons";
@import "shared/header";

* {
  margin: 0;
  padding: 0;
}

.title {
  @extend .section;
  background-color: $darkBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: row;
    gap: 140px;
    padding: 100px 0 140px 0;
  }

  &_textBox {

    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: start;

    &_label {
      @extend .h5;
      color: $textLightAccent;
    }

    &_header {
      @extend .h1;
      color: $textLight
    }

    &_description {
      @extend .text;
      color: $textLightGray;
    }

    &_button {
      margin-top: 8px;
      @extend .buttonPrimaryTextLight;
    }

  }

}

.service {
  @extend .section;
  background-color: $lightBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0 100px 0;
    gap: 64px;
  }

  &_label {
    @extend .h5;
    color: $textLightAccent;
  }

  &_header {
    @extend .h2;
    color: $textDark;
    margin-top: -40px;
    max-width: 425px;
    text-align: center;
  }

  &_cards-container {
    display: flex;
    flex-direction: row;
  }

  &_card {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid $borderOnLightBg;
    border-right: none;
    padding: 48px;
    justify-content: center;
    align-items: start;
    gap: 28px;

    &_header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;

      &_text {
        color: $textDark;
        @extend .h4;
      }
    }

    &_description {
      @extend .text;
      color: $textDarkGray;
    }

    &_footer {
      &_button {
        @extend .buttonSecondaryIconLight;
      }
    }

    &:last-of-type {
      border: 1px solid $borderOnLightBg;
    }

  }

  &_footer_text {
    @extend .text;
    color: $textDarkGray;

    a {
      color: $textDark;
    }

  }
}

.portfolio {
  @extend .section;
  background-color: $darkBgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 100px 0;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 64px 0;
    gap: 24px;
  }

  &_label {
    @extend .h5;
    color: $textLightAccent;
  }

  &_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_title {
      @extend .h2;
      color: $textLight;
    }

    &_button {
      @extend .buttonSecondaryTextDark;
    }
  }

  &_cards-container {
    display: flex;
    flex-direction: row;
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $borderOnDarkBg;
    border-right: none;
    padding: 16px;

    &:last-of-type {
      border: 1px solid $borderOnDarkBg;
    }

    &_image {
      width: 448px;
      height: 576px;
    }

    &_chip {
      position: absolute;
      top: 430px;
      left: 64px;
      background: $chipLight;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 16px 0 16px;
      border-radius: 19px;
      color: $textDark;
      @extend .text;
    }

    &_title {
      @extend .h3;
      color: $textLight;

      position: absolute;
      top: 500px;
      left: 64px;
    }
  }
}

.about {
  @extend .section;
  background-color: $lightBgColor;

  &_container {
    @extend .wrapper;
    padding: 200px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 174px;
  }

  &_main {
    display: flex;
    flex-direction: row;
    gap: 170px;

    &_textBox {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 24px;

      &_label {
        @extend .h5;
        color: $textLightAccent;
      }

      &_title {
        @extend .h2;
        color: $textDark;
      }

      &_subtitle {
        @extend .textBig;
        color: $textDark;
      }

      &_description {
        @extend .text;
        color: $textDarkGray;
      }

      &_button {
        @extend .buttonSecondaryTextLight;
      }
    }
  }

  &_cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 32px;
    border: 1px solid $borderOnLightBg;
    border-right: none;
    width: 50%;

    &:last-child {
      border: 1px solid $borderOnLightBg;
    }

    &_image {
      margin: 0 40px 0 16px;
    }

    &_textBox {

      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;

      &_title {
        @extend .h3;
        color: $textDark;
      }

      &_description {
        @extend .textBig;
        color: $textDark;
      }

    }
  }

}

.features {
  @extend .section;
  background-color: $darkBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: row;
    padding: 150px 0 150px 0;
  }

  &_textBox {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    &_label {
      @extend .h5;
      color: $textLightAccent;
    }

    &_title {
      @extend .h2;
      color: $textLight;
      max-width: 400px;
    }

    &_subtitle {
      @extend .textBig;
      color: $textLight;
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        display: flex;
        height: 36px;
        @extend .text;
        color: $textLightGray;
        list-style-type: none;
        vertical-align: middle;
        justify-content: start;
        align-items: center;

        &::before {
          display: inline-flex;
          content: url("../src/check.png");
          height: 36px;
          margin-right: 16px;
          align-items: center;
        }
      }
    }
  }
}

.getStarted {
  @extend .section;
  background-color: $lightGrayBgColor;

  &_container {
    position: relative;
    @extend .wrapper;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 0 48px 0;
    justify-content: space-between;
  }

  &_sticker {
    position: absolute;
    top: calc(-146px / 2);
  }

  &_textBox {
    width: 33%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &_label {
      @extend .h5;
      color: $textLightAccent;
    }

    &_title {
      @extend .h4;
      color: $textDark;
      margin-top: -10px;
      max-width: 220px;
    }

    &_button {
      @extend .buttonPrimaryTextLight;
    }
  }
  &_description {
    @extend .text;
    color: $textDarkGray;
    max-width: 370px;
  }
}

.testimonials {
  @extend .section;
  background-color: $lightBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 90px 0;
    gap: 64px;
  }

  &_label {
    @extend .h5;
    color: $textLightAccent;
  }

  &_title {
    @extend .h2;
    color: $textDark;
    margin-top: -44px;
    max-width: 400px;
    text-align: center;
  }

  &_cards-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  &_card {
    position: relative;
    z-index: 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid $borderOnLightBg;
    padding: 48px;
    gap: 64px;
    transform-origin: top center;
    transition: scale 500ms ease-in-out,
    background-color 200ms ease-in-out,
    border 0ms linear;

    &:last-of-type {
      border: 1px solid $borderOnLightBg;
    }

    &:hover {
      border: 1px solid $borderOnLightBg;
      scale: 1.05;
      background-color: white;
      z-index: 1;
    }

    &_rating {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    &_text {
      @extend .text;
      color: $textDarkGray;
      margin-top: -28px;
    }

    &_profile {
      display: flex;
      flex-direction: row;
      gap: 24px;
      justify-content: flex-start;
      align-items: center;

      &_text {
        display: flex;
        flex-direction: column;

        &_name {
          @extend .h4;
          color: $textDark
        }

        &_company {
          @extend .text;
          color: $textDark;
        }

      }
    }
  }

  &_button {
    @extend .buttonSecondaryTextLight;
  }
}