@import "shared/text";
@import "shared/colors";
@import "shared/wrapper";
@import "shared/buttons";
@import "shared/header";

* {
  margin: 0;
  padding: 0;
}

.title {
  @extend .section;
  background-color: $darkBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: row;
    gap: 140px;
    padding: 100px 0 140px 0;
  }

  &_textBox {

    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: start;

    &_label {
      @extend .h5;
      color: $textLightAccent;
    }

    &_header {
      @extend .h1;
      color: $textLight
    }

    &_description {
      @extend .text;
      color: $textLightGray;
    }

    &_button {
      margin-top: 8px;
      @extend .buttonPrimaryTextLight;
    }

  }

}

.service {
  @extend .section;
  background-color: $lightBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0 100px 0;
    gap: 64px;
  }

  &_label {
    @extend .h5;
    color: $textLightAccent;
  }

  &_header {
    @extend .h2;
    color: $textDark;
    margin-top: -40px;
    max-width: 425px;
    text-align: center;
  }

  &_cards-container {
    display: flex;
    flex-direction: row;
  }

  &_card {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid $borderOnLightBg;
    border-right: none;
    padding: 48px;
    justify-content: center;
    align-items: start;
    gap: 28px;

    &_header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;

      &_text {
        color: $textDark;
        @extend .h4;
      }
    }

    &_description {
      @extend .text;
      color: $textDarkGray;
    }

    &_footer {
      &_button {
        @extend .buttonSecondaryIconLight;
      }
    }

    &:last-of-type {
      border: 1px solid $borderOnLightBg;
    }

  }

  &_footer_text {
    @extend .text;
    color: $textDarkGray;

    a {
      color: $textDark;
    }

  }
}

.portfolio {
  @extend .section;
  background-color: $darkBgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 100px 0;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 64px 0;
    gap: 24px;
  }

  &_label {
    @extend .h5;
    color: $textLightAccent;
  }

  &_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_title {
      @extend .h2;
      color: $textLight;
    }

    &_button {
      @extend .buttonSecondaryTextDark;
    }
  }

  &_cards-container {
    display: flex;
    flex-direction: row;
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $borderOnDarkBg;
    border-right: none;
    padding: 16px;

    &:last-of-type {
      border: 1px solid $borderOnDarkBg;
    }

    &_image {
      width: 448px;
      height: 576px;
    }

    &_chip {
      position: absolute;
      top: 430px;
      left: 64px;
      background: $chipLight;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 16px 0 16px;
      border-radius: 19px;
      color: $textDark;
      @extend .text;
    }

    &_title {
      @extend .h3;
      color: $textLight;

      position: absolute;
      top: 500px;
      left: 64px;
    }
  }
}

.about {
  @extend .section;
  background-color: $lightBgColor;

  &_container {
    @extend .wrapper;
    padding: 200px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 174px;
  }

  &_main {
    display: flex;
    flex-direction: row;
    gap: 170px;

    &_textBox {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 24px;

      &_label {
        @extend .h5;
        color: $textLightAccent;
      }

      &_title {
        @extend .h2;
        color: $textDark;
      }

      &_subtitle {
        @extend .textBig;
        color: $textDark;
      }

      &_description {
        @extend .text;
        color: $textDarkGray;
      }

      &_button {
        @extend .buttonSecondaryTextLight;
      }
    }
  }

  &_cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 32px;
    border: 1px solid $borderOnLightBg;
    border-right: none;
    width: 50%;

    &:last-child {
      border: 1px solid $borderOnLightBg;
    }

    &_image {
      margin: 0 40px 0 16px;
    }

    &_textBox {

      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;

      &_title {
        @extend .h3;
        color: $textDark;
      }

      &_description {
        @extend .textBig;
        color: $textDark;
      }

    }
  }

}