@import "shared/text";
@import "shared/colors";
@import "shared/wrapper";
@import "shared/buttons";
@import "shared/header";

* {
  margin: 0;
  padding: 0;
}

.about {
  @extend .section;
  background-color: $darkBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: row;
    gap: 140px;
    padding: 100px 0 140px 0;
  }

  &_textBox {

    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: start;

    &_label {
      @extend .h5;
      color: $textLightAccent;
    }

    &_header {
      @extend .h1;
      color: $textLight
    }

    &_description {
      @extend .text;
      color: $textLightGray;
    }

    &_button {
      margin-top: 8px;
      @extend .buttonPrimaryTextLight;
    }

  }

}

.service {
  @extend .section;
  background-color: $lightBgColor;

  &_container {
    @extend .wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0 100px 0;
    gap: 60px;
  }

  &_label {
    @extend .h5;
    color: $textLightAccent;
  }

  &_header {
    @extend .h2;
    color: $textDark;
    margin-top: -36px;
    max-width: 425px;
    text-align: center;
  }

  &_cards_container {
    display: flex;
    flex-direction: row;
  }

  &_card {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid $borderOnLightBg;
    border-right: none;
    padding: 48px;
    justify-content: center;
    align-items: start;
    gap: 28px;

    &_header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;

      &_text {
        color: $textDark;
        @extend .h4;
      }
    }

    &_description {
      @extend .text;
      color: $textDarkGray;
    }

    &_footer {
      &_button {
        @extend .buttonSecondaryIconLight;
      }
    }

    &:last-of-type {
      border: 1px solid $borderOnLightBg;
    }

  }

  &_footer_text {
    @extend .text;
    color: $textDarkGray;

    a {
      color: $textDark;
    }

  }
}

