* {
  margin: 0;
  padding: 0;
}

$darkColor: #28293E;
$buttonAccentColor: #EF6D58;

.button{
  background-color: inherit;
  color: white;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover{
    background-color: $buttonAccentColor;
    border: none;
  }

}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  background-color: $darkColor;
  color: white;

  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &_list {
    display: flex;
    gap: 100px;
    list-style-type: none;

    &_item {
      cursor: pointer;
      transition: 600ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }



}

