@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

$darkBackgroundColor: #28293E;
$orangeColor: #EF6D58;
$mainFontSize: 16px;
$lightBackgroundColor: #FDF0E9;
$transparentGrey: rgba(255, 255, 255, 0.64);
$textDark: #391400;
$textDarkGray: rgba(57, 20, 0, 0.64);

.h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
}

.whiteText {
  color: white;
}

.h2 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  font-weight: 800;
}

@mixin h2 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  font-weight: 800;
}

@mixin h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  font-weight: 800;
}

@mixin h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

@mixin text {
  font-size: 16px;
  line-height: 32px;
  font-family: "Epilogue", serif;
}

body {
  font-family: 'Epilogue', serif;
  font-size: $mainFontSize;
  line-height: 32px;
}

.lightBackground {
  background-color: $lightBackgroundColor;
}

.darkBackground {
  background-color: $darkBackgroundColor;
}

.button {
  background-color: inherit;
  color: white;
  padding: 15px 30px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;


  &:hover {
    cursor: pointer;
    background-color: $orangeColor;
    border: 1px solid $orangeColor;
  }

}

.buttonOrange {
  @extend .button;
  background-color: $orangeColor;
  padding: 15px 22px;
  border: none;
}

.bigWhiteText {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  color: white;
}

.buttonAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 9px;
  cursor: pointer;

  &:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 7px;
    transform: translate(1px, 1px);
  }
}

.smallOrangeText {
  color: $orangeColor;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.smallGreyText {
  color: $transparentGrey;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;

  @media (max-width: 1170px) {
    width: 100%;
  }

}

.header {
  padding: 20px;
  background-color: $darkBackgroundColor;
  color: white;

  &_menu {
    display: none;

    @media (max-width: 500px) {
      display: block;
    }
  }

  &_button {
    display: block;
    @media (max-width: 500px) {
      display: none;
    }
  }

  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &_list {
    display: flex;
    gap: 100px;
    list-style-type: none;

    @media (max-width: 500px) {
      display: none;
    }

    &_item {
      cursor: pointer;
      transition: 600ms;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .title {
    padding: 80px 0px 80px 0px;

    &_pic {
      @media (max-width: 500px) {
        width: 95%;
      }
    }

    &_box {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 500px) {
        flex-direction: column-reverse;
      }

    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;

      &_item {

        @media (max-width: 500px) {
          width: 90%;
        }

      }
    }
  }
}

.main {

  background-color: $lightBackgroundColor;

  &_help {
    padding: 80px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &_header {
      text-align: center;
      width: 500px;
      @include h2;
      color: $textDark;
      text-transform: capitalize;
    }

    &_options {
      margin: 45px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media (max-width: 500px) {
        flex-direction: column;
      }

      &_item {
        display: flex;
        flex-direction: column;
        border: 1px solid #F3D1BF;
        padding: 48px;
        gap: 30px;
        box-sizing: border-box;
        width: 50%;

        @media (max-width: 500px) {
          width: 90%;
        }

        &_header {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 24px;
          @include h4;
          color: $textDark;
        }

        &_text {
          color: $textDarkGray;
          @include text;
        }

        &_action {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;
          cursor: pointer;
        }

        &:last-child {
          margin-left: -1px;
        }
      }
    }

    &_footer {
      @include text;
      color: $textDarkGray;

      a {
        color: $textDark;
        text-decoration: none;
      }
    }
  }

  &_portfolio {
    &_header {
      display: flex;
      flex-direction: column;
      padding: 100px 0 65px 0;
      gap: 20px;

      &_subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &_gallery {
      display: flex;
      flex-direction: row;
      width: 1440px;
      margin: 0 auto;
      padding-bottom: 90px;

      &_item {
        position: relative;
        display: inline-block;
        &_button {
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 38px;
          padding: 0 16px;
          background-color: white;
          border-radius: 19px;
          position: absolute;
          top: 430px;
          left: 70px;
          @include text;
          color: $textDark;
        }

        &_text {
          position: absolute;
          top: 490px;
          left: 70px;
          @include h3;
          color: white;
        }


        img {
          border: 1px solid #3A3C56;
          border-right: none;
          padding: 16px;

          &:last-child {
            border-right: 1px solid #3A3C56;
          }
        }
      }
    }
  }

}

